.container_about{
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  color: #FFFFFF;
  height: 100vh;
  background: url(../../assets/images/galaxy-night-panorama.jpg) center no-repeat fixed; 
  background-size:cover;
}


.container_about h1{
  color: #FFFFFF;
  font-size: 3.5vw;
  display: flex;
  margin-top: 150px;
}

.about_description{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 40px;
}

.about_description p{

  margin-right: 110px;
  font-size: 1.8vw;
}

.astronaut_image{
  width: 20vw;
  height: auto;
}

@media only screen and (max-width: 1300px ) {



}  